<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>uts.isd.controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>uts.isd.controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchlogsServlet</servlet-name>
        <servlet-class>uts.isd.controller.searchlogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>uts.isd.controller.updateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>registerServlet</servlet-name>
         <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>loginServlet</servlet-name>
         <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>logoutServlet</servlet-name>
         <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>deleteServlet</servlet-name>
         <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>updateServlet</servlet-name>
         <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>searchlogsServlet</servlet-name>
         <url-pattern>/searchlogsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
